@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-primary: #ffffff;
  --color-secondary: #a1a1aa;
  --color-accent: #0059af;

  --font-sans: Inter, sans-serif;
  --font-display: Syne, sans-serif;
}

@layer base {
  body {
    @apply bg-background text-primary font-sans antialiased overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display tracking-tight text-white;
  }
}

/* Lenis or custom smooth scroll if needed later */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-800 rounded-full hover:bg-zinc-700 transition-colors;
}